@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
} 

header{
    text-align: center;
    color: white;
    background-color: black;
}

header > h1{
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
}

header > p{
    padding-bottom: 50px;
}

h1{
    
    font-size: 10vw;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}

section.normal{
    color: black;
    background-color: white;
}

section.imagem{
    color: white;
    background-color: rgb(63, 63, 63);
}

section.imagem > p {
    width: 450px;
    background-color: rgba(0, 0, 0, 0.125);
}

footer{
    padding: 3px;
    color: white;
    text-align: center;
    background-color: black;
}