@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 500px;
    border-collapse: collapse;
    
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(170, 170, 170);
}

#populacao{
    width: 100px;
}

td,th{
    border: 1px solid black;
}

thead, tfoot{
    background-color: gray;
    color: white;
}

tbody > tr:nth-child(even){
    background-color: lightgray;
}

td.num{
    text-align: right;
}
