@charset "UTF-8";

*{
    font-family: arial, helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #D8B08C, #FFCB9A);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 7px 5px #2c35325d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #2C3532;
    text-align: center;
    text-shadow: 1px 1px 2px #2c353277;
}

h2{
    color: #0F6466;
}

p{
    text-align: justify;
}