@charset "UTF-8";

body{
    background-image: url('imagens/wallpaper001.jpg');
}

div.quadrado{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

div#q1{
    background-color: bisque
}

div#q2{
    background-image: linear-gradient(to bottom, blue, rgb(59, 59, 104));
}

div#q3{
    background-image: url('imagens/pattern003.png');
}

div#q4{
    background-image: linear-gradient(to left, yellow, red);
}

div#q5{
    background-image: url('imagens/wallpaper005.jpg');
}

div#q6{
    background-image: radial-gradient(darkgreen, white);
}